<footer>
  <!-- NB this Footer has been fixed but it workd properly on dektop -->
  <div class="row">
      <!-- <div class="col span-1-of-2"> -->
      <div class="col col-sm-4 col-md-4 col-lg-4">
        <ul class="footer-nav justify-content-center">
          <li class="text-center">
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
         </ul>
       </div>

      <div class="copyright">
        <p>Copyright &copy; 2020 by the Sickests. All rights reserved.</p>
      </div>

      <!-- <div class="col span-1-of-2"> -->
      <div class="col col-sm-4 col-md-4 col-lg-4">
        <ul class="social-icons">
          <li><a href="#"><i class="fab fa-github"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
  </div>
</footer>
