      
      
<div class="d-flex flex-row justify-content-around row row-cols-1 row-cols-md-3"> 
  <% @lives.each do |life| %>
    <div class="col-md-6 border-0" style="padding: 10px;">
      <div class="card bg-light text-white">
        <%= image_tag("https://source.unsplash.com/random", alt:"image", width: 20, height: 300, crop: :fill, class: "card-img-top") %>
        <div class="card-img-overlay bg-light text-dark col-md-6" style="margin: 40px;">
          <h2 class="card-title font-weight-bold">
            <%= life.title %>
          </h2>
          <p class="card-text">
            <%= life.description %>
          </p>

        </div>
      </div>
    </div>
  <% end %>
</div>

