<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">LIFEABLE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img src="#" alt="Logo" class="logo">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lives List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link">Sign in</a> -->
         <%= link_to "Sign in", "/users/sign_in", class: "nav-link" %>
         <!-- /users/sing_in is poining at views/devise/registrations/new.html.erb-->
	    </li>
      <li class="nav-item">
        <!-- <a class="nav-link">Sign in</a> -->
         <%= link_to "Sign Up", "/users/sign_up", class: "nav-link" %>
         <!-- /users/sing_up is poining at views/devise/sessionss/new.html.erb-->
      </li>
    </ul>
  </div>
</nav>
