<!-- [...] -->
<div class="row">
  <div class="col-8 offset-2">
    <%= form_tag lives_path, method: :get do %>
      <div class="input-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your new life"
        %>
        <div class="input-group-append">
          <%= submit_tag "Search", class: "btn btn-primary" %>
          <!-- HERE WE CAN PUT ANOTHER BUTTON OR BUT THE OTHER BUTTON IN ANOTHER DIV -->
        </div>
      </div>
    <% end %>
  </div>
 </div>
<!-- the list of lives -->
