<!-- [...] -->
<div class="row">
  <div class="col-12 offset-0 mt-3 mb-3">
    <%= form_tag lives_path, method: :get do %>
      <div class="input-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your new life"
        %>
        <div class="input-group-append mr-2">
          <%= submit_tag "Search", class: "btn btn-primary" %>
          <!-- HERE WE CAN PUT ANOTHER BUTTON OR BUT THE OTHER BUTTON IN ANOTHER DIV -->
          <button class=" btn btn-danger btn-md rounded-lg chakra-font-button white-text ml-2"><%= link_to " + add your life", new_life_path, class: "white-text" %></button>
        </div>
      </div>
    <% end %>
  </div>
 </div>
<!-- the list of lives -->
