// Define variables for your color scheme

// For example:
$red: #C5283F;
$blue: #6093B6;
$yellow: #B29F59;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-blue:  #303441;
$dark-red: #8C2123;
