// Specific CSS for your home-page

.fa-comment {
	font-size: 200px;
	margin-left: 800px;
	padding-bottom: 50px;
	color: #C5283F;
	transform: scaleX(-1);
	position: absolute;
	top: 10px;
	right: 280px;
	text-shadow: 2px 3px 5px #303441;
}

#bubble-text {
	position:absolute;
	color: white;
	right: 310px;
	top: 85px;
	font-size: 30px;
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 700;
}

#bubble-text:hover {
	color: white;
	text-decoration: none;
	transform: scale(1.15);
	transition: 0.3s;
}