.life-show {
	margin-bottom: 40px;
}

#life-title {
	margin: 40px;
	padding-left: 10px;
	color: #303441;
}

#life-description {
	margin: 40px;
	color: #303441;
	background-color: #cee1ed;
	padding: 20px;
	border-radius: 10px;
}

#life-details {
	margin: 40px;
	color: #303441;
	background-color: #dbd0a8;
	padding: 20px;
	border-radius: 10px;
}

#img-show {
	width: 100%;
	position: relative;
	border-radius: 0px;
	height: 300px;
}

.book-life {
	position: absolute;
	top: 370px;
	right: 100px;
	background-color: #C5283F;
	color: white;
	border-radius: 15px;
    padding: 20px 30px;
}

.book-life:hover {
	color: white;
	text-decoration: none;
	background-color: #8C2123;
}

.back-to-list {
	text-align: right;
	padding: 15px;
	color: black;
	border: none;
}

#back-to-list {
	text-align: right;
}