<div class="container mt-2 mb-2">
  <div class="row justify-content-center">
    <div class="col-6">
      <br>
      <h2 class="text-center">Hey <%= current_user.first_name %>, when do you want to book?</h2>
        <div>
          <%= render "components/booking-form" %>
        </div>
        
    </div>
  </div>
</div>

