<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="home-text">
  <h1>LOOKING FOR A NEW LIFE<br> There you go.</h1>
  <a class="btn" href="#">Click here</a>
</div>

<p class="notice"><%= notice %></p> 
<p class="alert"><%= alert %></p> 