<div class="banner">
  <div class="row mt-5">
    <div class="col home-text mt-5">
          <!-- <br> -->
      <h1>RAFFA version</h1>
      <h1>Always having the same life?</h1>
      <br>
      <h2>Be whoever you want!</h2>
    </div>
    <!-- <i class="fas fa-comment"></i> -->
    <%#= link_to "Find a life", lives_path, id: "bubble-text" %>
  </div>
</div>
