<div class="banner">
  <div class="home-text">
    <h1>Always having the same life?</h1>
    <br>
    <h2>How about living 1 week as superman?</h2>
    <button id="home-btn"><%= link_to "Find a life", lives_path, class: "white-text" %></button>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
</div>
