<div class="banner">
  <div class="home-text">
        <br>
    <h1>Always having the same life?</h1>
    <br>
    <h2>How about living 1 week as Superman?</h2>
    <i class="fas fa-comment"></i>
    <%= link_to "Find a life", lives_path, id: "bubble-text" %>
  </div>
</div>
