<div class="banner">
  <div class="row justify-content-center">
    <div class="home-text col-9 mt-5">
          <!-- <br> -->
      <div class="row mt-5">
      <h1>(RaffaV)Always having the same life?</h1>
      </div>
      <div class="row">
      <h2>Be whoever you want!</h2>
      </div>
    </div>
    <!-- <i class="fas fa-comment"></i> -->
    <%#= link_to "Find a life", lives_path, id: "bubble-text" %>
  </div>
</div>
