<div class="banner">
  <div class="home-text">
        <br>
    <h1>Always having the same life?</h1>
    <br>
    <h2>How about living 1 week as Superman?</h2>
    <button id="home-btn"><%= link_to "Find a life", lives_path, class: "white-text" %></button>
  </div>
</div>
