<div class="banner">
  <div class="row home-text">
        <!-- <br> -->
    <h1>RAFFA version</h1>
    <h1>Always having the same life?</h1>
    <br>
    <h2>Be whoever you want!</h2>

    <!-- <i class="fas fa-comment"></i> -->
    <%#= link_to "Find a life", lives_path, id: "bubble-text" %>
  </div>
</div>
