<div class="container">
  <h1 class="text-center text-primary" style="padding-bottom: 10px; padding-top: 10px;">Our lifeguards</h1>
  <div class="card-deck">
    <div class="card">
      <img src="<%= asset_path( 'celine.jpg') %>" class="card-img" alt="celine">
      <div class="card-body">
        <h5 class="card-title">Celine</h5>
        <p class="card-text">Head of Lives</p>
        <p class="card-text"><small class="text-muted">Since forever</small></p>
      </div>
    </div>
    <div class="card">
      <img src="<%= asset_path( 'kim.jpeg' ) %>" class="card-img" alt="kim">
      <div class="card-body">
        <h5 class="card-title">Kim</h5>
        <p class="card-text">Head of Bookings</p>
        <p class="card-text"><small class="text-muted">Since forever</small></p>
      </div>
    </div>
    <div class="card">
      <img src="<%= asset_path( 'raffa.png' ) %>" class="card-img" alt="raffa">
      <div class="card-body">
        <h5 class="card-title">Raffa</h5>
        <p class="card-text">Head of Forms</p>
        <p class="card-text"><small class="text-muted">Since forever</small></p>
      </div>
    </div>
    <div class="card">
      <img src="<%= asset_path( 'nina.jpg' ) %>" class="card-img" alt="nina">
      <div class="card-body">
        <h5 class="card-title">Nina</h5>
        <p class="card-text">Head of Body</p>
        <p class="card-text"><small class="text-muted">Since forever</small></p>
      </div>
    </div>
  </div> 
</div>