<div class="container">
  <h1 class="text-center text-primary" style="padding-bottom: 10px; padding-top: 10px;">Our lifeguards</h1>
  <div class="card-deck">
    <div class="card">
      <%= image_tag("/assets/images/celine.jpg", alt:"image", crop: :fit, class: "card-img-top rounded") %>
      <div class="card-body">
        <h5 class="card-title">Celine</h5>
        <p class="card-text">Head of Lives</p>
        <p class="card-text"><small class="text-muted">Since forever</small></p>
      </div>
    </div>
    <div class="card">
      <%= image_tag("/assets/images/kim.jpeg", alt:"image", class: "card-img-top rounded") %>
      <div class="card-body">
        <h5 class="card-title">Kim</h5>
        <p class="card-text">Head of Bookings</p>
        <p class="card-text"><small class="text-muted">Since forever</small></p>
      </div>
    </div>
    <div class="card">
      <%= image_tag("/assets/images/raffa.png", alt:"image", crop: :fit, class: "card-img-top rounded") %>
      <div class="card-body">
        <h5 class="card-title">Raffa</h5>
        <p class="card-text">Head of Forms</p>
        <p class="card-text"><small class="text-muted">Since forever</small></p>
      </div>
    </div>
    <div class="card">
      <%= image_tag("/assets/images/nina.jpg", alt:"image", crop: :fit, class: "card-img-top rounded") %>
      <div class="card-body">
        <h5 class="card-title">Nina</h5>
        <p class="card-text">Head of Body</p>
        <p class="card-text"><small class="text-muted">Since forever</small></p>
      </div>
    </div>
  </div> 
</div>