
.banner {
  background-image: asset-url("superman.jpg");
  /* position: relative; */
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  /* padding-left: 50px; */
  /* padding-top: 60px; */
}

.home-text {
	h1 {

		font-family: 'Chakra Petch', sans-serif;
		/* padding-top: 150px; */
		font-size: 60px;
	}

  h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Chakra Petch', sans-serif;
  }
}


