.superman-picture {
  width: 300px;
  height: 450px;
  background-image: asset-url('superman2.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 20%;
  box-shadow: 0 0 8px 8px #F4F4F4 inset;
}

.next-to {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
