
#home-btn {
	margin-top: 30px;
	background-color: #C5283F;
	color: white;
	border-radius: 7px !important;
	padding: 20px 35px;
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 200;
	font-weight: 700;
	border: none;

}

#home-btn:hover{
  background-color: #6093B6;
  // transform: scale(1.2);
  transition: 0.2s;
}

.white-text,
.white-text:hover {
	color: white;
	text-decoration: none;
}

.red-button {
	margin-top: 30px;
	background-color: #C5283F;
	color: white;
	border-radius: 7px !important;
	padding: 20px 35px;
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 200;
	font-weight: 700;
	border: none;
}

.red-button:hover {
	background-color: $dark-red;
}

.chakra-font-button {
	font-family: 'Chakra Petch', sans-serif;
}

.bookings-new-btn {
   /* used for COPY: "Book now"  */
  border-radius: 2px !important;
  padding: 10px 20px;
  background-color: #C5283F;
  color: white;
  margin-top: 30px;
  font-family: 'Chakra Petch', sans-serif;
}

.lives-new-btn {
  /* used for COPY: "Create Life"  */
  border-radius: 2px !important;
  padding: 10px 20px;
  background-color: #C5283F;
  color: white;
  font-family: 'Chakra Petch', sans-serif;
}
