.transparency {
  opacity: 0.8;
}

.pos-relative {
  position: relative;
}

.position-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
  left: 17%; bottom: 10%;
}

.position-absolute {
  position: absolute;
  right: 3%; top: 5%;
}

.no-border {
  border: none !important;
  box-shadow: none !important;
}

.details-btn {
	border-radius: 2px !important;
	padding: 10px 20px;
}

.card-img-top {
	height: 350px !important;
}
