.navbar-lewagon {
  // [...]
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}


.navbar {
	list-style: none;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  position: absolute;
  z-index: 2;
  &.transparent {
    background-color: transparent !important;
  }

  &.normal {
    background-color: white;
    position: sticky;
  }
}

.sign-in-button {
  background-color: white;
  border: solid;
  border-radius: 20px;
  margin : 10px;
  color:white;
  text-decoration: none;
  border-radius: 25px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
}

.sign-in-button {
  transform: scale(1.1);
  transition: 0.2s;
  text-decoration: none;
}

.sign {
  a:hover {
    text-decoration: none;
    color: #C5283F
  }
}

.sign {
  a {
  color: black;
  }
}

.nav-list {
  a {
    color: #303441;
    padding-right: 20px;
    margin-left: 30px;
    font-family: "Chakra Petch";
    padding-top: 0;
  }
}

.logo {
  img {
    height: 50px;
  }
}

.minus-left {
  left: -100px;
}

.dropdown-item {
  padding-left: 20px;
  border: gray;
  margin-bottom: 0px;
}
