.container-dashboard{
height: 400px;
display:flex;
flex-direction: column;
align-items: center;
}

.dashboard-card div {
  height: 200px;
  width: 600px;
  border-style: solid;
  border-radius: 30px;
  display: flex;
  justify-content: center !important;
  align-content: center !important;
  flex-shrink: 3;
  padding: 40px;
  margin: 20px;
  box-shadow: 2
}
