<div class="container">
  <h1 class="text-center text-primary" style="padding-bottom: 30px; padding-top: 30px;">Find the life you always wanted!</h1>
  <p>Pick a life and book now. You try whatever our lifelords have on offer now. Even superheros need a break from their life every now and then...</p>
  <%= render "components/index-cards" %>
</div>

