<div class="container">
  <div class="text-right" style="margin-top: 30px;">
    <button class=" btn btn-danger btn-md rounded-lg chakra-font-button white-text"><%= link_to " + add your life", new_life_path, class: "white-text" %></button>
  </div>
  <h1 class="text-center text-primary" style="padding-bottom: 10px; padding-top: 10px;">Find the life you always wanted!</h1>
  <p class="text-center">Pick a life and book now. You try whatever our lifelords have on offer now. Even superheros need a break from their life every now and then...</p>
  <%= render "components/search-bar" %>
  <%= render "components/index-cards" %>
</div>

